@font-face {
  font-family: 'Neutrif Pro Light';
  src: url('Neutrif Pro-Light.eot'); /* IE9 Compat Modes */
  src: url('Neutrif Pro-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Neutrif Pro-Light.woff') format('woff'), /* Modern Browsers */
       url('Neutrif Pro-Light.ttf')  format('truetype');
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Neutrif Pro';
  src: url('Neutrif Pro-Regular.eot'); /* IE9 Compat Modes */
  src: url('Neutrif Pro-Regular.eot?#iefix') format('embedded-opentype'), 
       url('Neutrif Pro-Regular.woff') format('woff'),
       url('Neutrif Pro-Regular.ttf')  format('truetype');
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Neutrif Pro Semi Bold';
  src: url('Neutrif Pro-SemiBold.eot'); /* IE9 Compat Modes */
  src: url('Neutrif Pro-SemiBold.eot?#iefix') format('embedded-opentype'), 
       url('Neutrif Pro-SemiBold.woff') format('woff'),
       url('Neutrif Pro-SemiBold.ttf')  format('truetype');
  font-style:   normal;
  font-weight:  700;
}
